<%if @phrase%>
<h1></h1>
<%else%>
<%end%>
<h1>Abuela Sorda</h1>
<form action="/" method="post">
  <input type="text" name="algo"></input>
  <input type="text" name="mayusculas"></input>
  <input type="submit" value="Dilo!"></input>
</form>
